.app {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  min-height: 100vh;
  margin: auto;
  .app-name {
    text-align: center;
  }
  .tabs-container {
    display: flex;
    margin: 10px;
    .tab {
      flex: 1;
      height: 40px;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      &.menu {
        background-color: $menuPrimary;
      }
      &.ingredient {
        background-color: $ingredientPrimary;
      }
    }
  }

  .tab-title {
    text-align: center;
    font-family: 'Lobster';
  }

  .tab-container {
    border: 2px solid $menuPrimary;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    &.menu-container {
      border-color: $menuPrimary;
      .tab-title {
        color: $menuPrimary;
      }
    }
    &.ingredient-container {
      border-color: $ingredientPrimary;
      .tab-title {
        color: $ingredientPrimary;
      }
    }
  }

  .form {
    margin: 10px;
    padding: 20px;
    color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    * {
      margin: 15px;
    }
    label {
      font-weight: 600;
    }
    input {
      height: 20px;
    }
    button {
      background-color: $white;
      color: $black;
      width: 200px;
    }
    .details-title {
      text-align: center;
      font-family: 'Lobster', cursive;
    }
    .input-row {
      display: flex;
      label {
          flex: 1;
      }
      input {
          flex: 4;
      }
  }
    .action-buttons {
      display: flex;
      justify-content: space-around;
      button {
        flex: 1;
      }
    }
  }
}