@import "variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lobster|Titillium+Web&display=swap');
@import "app.scss";
@import "./components/pizza-form.scss";
@import "./components/pizza-component.scss";
@import "./components/ingredient-form.scss";
@import "./components/ingredient-component.scss";

body {
  margin: 20px;
  background-color: $white;
  color: $black;
  font-family: 'Titillium Web', sans-serif;
}

.app {
  .app-name {
    font-family: 'Lobster', cursive;
    color: $primary;
    font-size: 3em;
  }
}

.items-list {
  list-style: none;
  padding-inline-start: 0;
  li {
    padding: 12px 15px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid black;
    &.header {
      font-weight: 600;
      cursor: default;
    }
    &.pizza-item {
      border-color: $menuPrimary;
    }
    &.ingredient-item {
      border-color: $ingredientPrimary;
    }
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}